/* header */
* {
  box-sizing: border-box;
}

header {
  height: 65px;
  width: 100%;
  background-color:white ;
  position :fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 5px 5px rgb(131, 131, 131);
}

a {
  text-decoration: none;
}

.logo{
  width: 200px;
  height: 65px;
  padding-bottom:10px;
}

.header-left {
  color: rgb(0, 0, 0);
  font-size:20px;
}

.header-right {
  float: right;
  padding-bottom: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgb(236, 236, 236);
}

.menu{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menu-icon {
  padding-bottom: 10px;
  display: none;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

/* top wrapper */
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4DYKe?ver=f845&q=90&m=8&h=472&w=1259&b=%23FFFFFFFF&l=f&x=1173&y=0&s=2667&d=1000&aim=true);
    background-size: cover;
    color: rgb(41, 40, 40);
    text-align: left;
    font-family: 'Segoe UI';
}

.container1 {
    /* max-width: 1170px; */
    width: 100%;
    padding-left: 150px;
    margin: 0 auto;
}

.container1 h1 {
    font-size: 35px;
    margin-bottom: 6px;
  }

.container1 p {
    font-size: 18px;
    margin-bottom: 2px;
}

.btn-wrapper {
    text-align: left;
    padding-top: 20px;
}

.explore {
    background-color: black;
}

.btn {
    padding: 12px 38px;
    color: white;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 2px 2px #000000;
    opacity: 0.85;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}


/* body */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

@keyframes move {
    from{background-color: black;}
    to{background-color: #F6F8FD;}
}

.animation{
    height: 50px;
    background-color: black;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.heading h1{
    padding-bottom: 20px;
}

.product-wrapper{
    padding-bottom: 80px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F6F8FD;
    text-align: center;
}

.container2 {
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

.icon{
    width: 300px;
}

.prod{
    width: 300px;
    height: 410px;
    background-color: white;
    margin: 20px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

.prod p{
    width: 80%;
    display: inline-block;
}

.prod-icon{
    text-align: center;
}

.prod-icon h4{
    margin-top: 0;
    margin-bottom: 10px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button{
    color: white;
    /* font-weight: bold;
    font-size: larger; */
    opacity: 0.85;
    padding: 12px 38px;
    background-color: #000000;
    cursor: pointer;
    display: inline-block;
    box-shadow: 2px 2px #000000;
}

.button:hover {
    opacity: 1;
}

.button:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

.download{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* footer */
footer {
  color: #000000;
  padding: 20px;
  text-align: center;
  background: white;
}
